.pageListWrapper{
    padding: 102px 407px 112px 212px;
    margin-right:50px;
}
.orderSection{
    float:right;
    margin-top:-20px;
    margin-right: 50px;
}
.btn{
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
}
.orders{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    position: absolute;
    border:1px solid #484848;
    border-radius: 4px;
}
.orders button{
    margin: 6px 25px 7px 17px;
    padding: 3px;
    background-color: white;
    border:none;
    font-size:18px;
    font-weight: bold;
}
.orders button:hover{
    background-color: #C4C4C4;
    border-radius: 4px;
    color:white;
}